.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #cfd1d2, #131E2F);

}

.logo-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;

}

.logo-content img {
    width: 50px;
}

.logo-content h1 {
    margin-left: 10px;
    font-size: 20px;
}

.container-login {
    background-color: #f3f3f3;
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 75vh;
    border-radius: 30px;
    box-shadow: 0 4px 8px #151515;
    justify-content: center;
    align-items: center;
}


.inputs-and-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#loginForm {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}  



.container-login h1 {
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-login input {
    background-color: #e8e8e8;
    width: 50%;
    height: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
}

.container-login input:hover{
    border: 0.14rem solid #01A5B1;

}

.button-login {
    background-color: #01A5B1;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.5s;
}

.button-login:hover {
    background-color: #fff;
    color: #01A5B1
}


.button-forgot-password {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.5s;
}

.button-forgot-password:hover {
    background-color: #000;
    color: #fff;
}